<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css">
	<title>Delete Confirmation</title>
</head>

<body>

    <h1>Successfully Deleted <%- title %></h1>
	<br>
    <a href="/">HOME</a>
</body>

</html>
