<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css">
	<title>Submission</title>
</head>

<body>
	<h1>Successfully Published Poem!</h1>

	<strong>Title: </strong><%- title %><br>
	<strong>Author: </strong><%- author %><br>
    <strong>Poem: </strong>
    <br>
	    <%- poem %>
	<hr>

    <a href="/">HOME</a>
</body>

</html>
